/* Cards.css */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .card-wrapper {
    width: 10px; /* O ajusta según tu diseño */
    margin-bottom: 20px; /* Espacio inferior entre las tarjetas */
  }
  
  .card-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  
  .card-image {
    /* Estilos para la imagen */
  }
  
  .card-text {
    padding: 16px; /* Espaciado interno para el texto */
  }
  